
*{  
    padding: 0px;
    margin: 0px;
    
}

#wrapper{
    padding: 5rem;
    
    
}
main{
    display: flex;
    justify-content: space-between;
}
.boxes{
    margin-top: 2rem;
    border: solid 1px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

